@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body {
  @apply font-inter;
  background-color: #f8f8fe;
}

.c-max-width {
  max-width: 1200px;
}

.shoes {
  padding-right: 20px;
}

.scrolling-container::-webkit-scrollbar {
  display: none
}

.scrolling-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
}

.checkbox:checked {
  background-color: #C92071;
  border-color: #C92071;
}

.checkbox:checked::after {
  content: '✓';
  @apply text-white;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
}

.radio {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #d1d5db;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio:checked {
  background-color: #fff;
  border-color: #C92071;
}

.radio:checked:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #C92071;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.custom-select {
  background-color: transparent;
  border: none;
}